<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106087707228-hjrmgiiiba6cp5b6i5jhuf7cr6a8g9f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106087707228-hjrmgiiiba6cp5b6i5jhuf7cr6a8g9f1</string>
	<key>API_KEY</key>
	<string>AIzaSyBc91rMP06a-jtUVaf6yA6_32d8cOd0bsM</string>
	<key>GCM_SENDER_ID</key>
	<string>106087707228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.celerik.flutterBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-6fe04</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-6fe04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106087707228:ios:1f4723d2562edd8c71ec99</string>
</dict>
</plist>